.routers {
  width: 100%;
}

.routers .routers__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.routers .routers__link {
  margin: 20px 0;
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

.routers .routers__link--active {
  color: #F56C6C;
}

.routers .btn {
  min-width: 70px;
  font-size: 12px;
  line-height: 26px;
  background: #F56C6C;
  border-radius: 2px;
}
